<%- include ('../../partials/header.ejs'); %>
<%- include ('../../partials/navbar.ejs'); %>

<div class="cadastro">
    
    <div class="cadastro_topo">
        <a class="btn btn-success" href="/admin/categories/new">Criar nova categoria</a>
        <h3>Listagem de Categorias</h3>
        
    </div>
        

    <div class="cadastro_baixo">

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Slug</th>
                    <th>Ações</th>
                </tr>
            </thead>

            <tbody>
                                
             <% categories.forEach((categorie) => { %>
             
                <tr>
                    <th><%= categorie.id %></th>
                    <th><%= categorie.title %></th>
                    <th><%= categorie.slug %></th>
                    <th>
                        <a class="btn btn-warning" href="/admin/categories/edit/<%= categorie.id %>">Editar</a>

                        <form method="post" action="/categories/delete" style="display: inline;" onsubmit="confirmarDelete(event, this)">
                            <input type="hidden" name="id" value="<%= categorie.id %>">
                            <button class="btn btn-danger" type="submit">Deletar</button>
                        </form>
                        
                    </th>
                </tr>

             <% }) %>
                
            </tbody>
        </table>

    </div>

    

</div>

<script>

    function confirmarDelete(event, form){

        event.preventDefault(event);
        console.log('Passo 1 ok');

        let confirma = confirm('Deseja Deletar a categoria?');

        if(confirma){
            form.submit()
        }else{
            console.log('');
        }



    }

</script>


<%- include ('../../partials/footer.ejs'); %>